.current-task-name {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 7px;
  font-size: 50px;
  /* background-color: red; */
  border-bottom: 1px solid rgba(0,0,0,0.5);
  /* border-radius: 10px; */
  width: 87%;
  /* background-color: rgba(255,255,255,0.3); */
}

.is-complete,
.is-important {
  border: none;
  background: transparent;
  cursor: pointer;
}

.input-task-name {
  margin: 0 10px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  /* background-color: ; */
}

.input-task-name:focus {
  /* background-color: red; */
  outline: none;
}

.is-complete button,
.is-important button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: none;
  background: transparent;
  cursor: pointer;
  outline: none;
}

.is-complete button:focus,
.is-important button:focus {
  outline: none;
}

.is-complete button:active,
.is-important button:active {
  transform: translateY(1px);
}

.is-complete button svg,
.is-important button svg {
  width: 30px;
  height: 30px;
}

.task-and-duedate {
  flex-grow: 1;
}