.userInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.btn-log-out {
  height: 50%;
  width: 30%;
  background: #162938;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
}
