@import url('https://fonts.googleapis.com/css2?family=Poppins');
.formRegister {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('C:/Users/nhand/Documents/todo-full-stack-app/frontend/src/assets/background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper-register {
    position: relative;
    width: 450px;
    height: 600px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
    /* transform: scale(0); */
    transition: transform .5s ease height .2s ease;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login {
    transition: transform .18s ease;
    transform: translateX(0);
    
}

.form-box h2 {
    font-size: 2em;
    color: #162938;
    text-align: center;

}