@import url("https://fonts.googleapis.com/css2?family=Poppins");
.formRegister {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("/src/asset/background.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.wrapper-register {
  position: relative;
  width: 400px;
  height: 700px;
  background: transparent;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease height 0.2s ease;
}


.form-box-register {
  width: 80%;
  padding: 40px;
}
.form-box-register h2 {
  width: 50%;
  padding: 0px;
}
.wrapper .form-box.register {
  transition: transform 0.18s ease;
  transform: translateX(0);
  justify-content: left;
}



.input-box-register {
  /* background-color: red; */
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #162938;
  margin: 30px 0;
}

.input-box-register label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #162938;
  font-weight: 500;
  pointer-events: none;
  transition: 0.5s;
}

.input-box-register input:focus ~ label,
.input-box-register input:valid ~ label {
  top: -5px;
}

.input-box-register input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #162938;
  font-weight: 600;
  padding: 0 35px 0 5px;
}

.notification {
  color: red;
}

.email-noti {
  color: red;
}