.new-password-view {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("/src/asset/background.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.change-password-wrapper {
  position: relative;
  width: 370px;
  height: 550px;
  background: transparent;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease height 0.2s ease;
}
